.combat {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}

.combat img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  border: 2px solid black;
}

.combat-groupBtn {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 15%;
  border-radius: 30%;
  border: 2px black;
}

.combat button {
  border-radius: 15%;
  border: 5px solid black;
}

.combat p {
  font-style: "BlackNight";
}
