.NavBlock {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.ButtonsNav {
    display: block;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 2px solid red;
    background-color: black;
    color: red;
    font-size: 2.5rem;
    font-family: horror, cursive;
}
