.Home,
.Home form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.Home {
    height: 100vh;
}

.Home input,
.Home button {
    text-align: center;
    width: 30%;
}
