.Profil {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    color: red;
}

.profil-avatar-img {
    margin: 20px;
    width: 150px;
    width: 50%;
    box-shadow: 0 0 8px 0 grey;
    text-align: center;
}

.profil-infos ul li {
    list-style: none;
}

.profil_title {
    font-size: 2.5rem;
    font-family: horror;
}

.fight_history {
    margin-top: 40px;
}
